<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:utext="#{page.title.show-user}">Page title</title>
</head>
<body>
<form th:action="@{${urlRoot}}" th:object="${user}" th:method="post">
    <div>
        <input type="hidden" th:field="${user.id}"/>

        <label th:utext="#{table.column.name} + '<br>'">Name</label>
        <input type="text" th:field="*{name}" placeholder="string" />
        <br>
        <label th:utext="#{table.column.lastName} + '<br>'">Last Name</label>
        <input type="text" th:field="*{lastName}" placeholder="string" />
        <br>
        <label th:utext="#{table.column.age} + '<br>'">Age</label>
        <input type="number" th:field="*{age}"  placeholder="integer" />
        <br>
        <label th:utext="#{table.column.email} + '<br>'">Email</label>
        <input type="text" th:field="*{email}" placeholder="string" />
        <br>
        <label th:utext="#{table.column.password} + '<br>'">Password</label>
        <input type="password" th:field="*{password}" placeholder="string" />
        <br>
        <label th:utext="#{table.column.role} + '<br>'">Role</label>
        <input type="text" th:field="*{textRoles}" placeholder="string" />
    </div>

    <div>
        <input type="submit" name="save" th:value="#{button.save}">
        <input type="submit" name="redirect" th:value="#{button.cancel}">
    </div>
</form>
</body>
</html>